body, p, h1, h2, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    /* background-color: rgb(78, 76, 76); */
    background-color: rgb(43, 42, 42);
    margin: 5px;
}

header {
    border-radius: 15px;
    background-color: #073453;
    color: #FFECD1;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1);
}

h1 {
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #1A7A89;
    color: #FFECD1;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1);
}

#contact {
    padding: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.contact-item {
    padding: 0 2vw;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 8px 0px;
}

.contact-item p a {
    color: #FFECD1;
    text-decoration: none;
}

.icone {
    width: 8%;
    padding-right: 10px;
}

main {
    border-radius: 10px;
    background-color: #F1DEDE;
    padding: 20px 30px;
}

h2 {
    color: #073453;
    margin: 10px 0;
}

main section {
    padding: 0 30px;
}

#aboutme-section {
    margin: 0 0 15px;
}

#aboutme-section p {
    text-indent: 4em;
    margin: 0 0 5px;
    font-size: 1.2em;
}

h3 {
    margin: 10px 0 5px;
}

.first-h3 {
    margin: 0px 0 5px;
}

#education-section p {
    padding: 0 30px 5px;
    font-size: 1.1em;
}

h4 {
    margin: 5px 0 5px;
}

.activities {
    padding: 0 30px;
}

.activities ul {
    margin: 7px 0 15px;
}

.activities li {
    margin: 0 0 5px;
}

#volunteerwork-section ul {
    margin: 0 0 15px;
}

#skills-section {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

#skills-section div {
    padding: 0 1.5vw;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills-section ul {
    margin: 0 0 10px;
    list-style-type: none;
}

#skills-section li {
    font-size: 1.3em;
}

footer {
    color: #f1eaea;
    text-align: right;
    margin: 5px 5px;
}

@media screen and (max-width: 800px) {
    #contact {
        padding: 15px 0;
    }
    
    .contact-item {
        padding: 0;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #contact {
        padding: 15px;
        align-items: center;
        flex-direction: column;
    }

    .contact-item {
        padding: 5px;
        justify-content: center;
        margin: 0px 0px;
    }
}

@media screen and (max-width: 570px) {
    #skills-section {
        padding: 15px;
        align-items: center;
        flex-direction: column;
    }

    #skills-section ul {
        width: 150px;
        margin: 0;
    }
}
